.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw 20px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons img {
    width: 40px;
    cursor: pointer;
}

.footer-content-center ul,
.footer-content-right ul {
    list-style: none;
    padding: 0;
}

.footer-content-center li,
.footer-content-right li {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer hr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: #555;
}

.footer-copy {
    text-align: center;
}

@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}

